<div class='column'>
    <nav class='panel'>
        <p class='panel-heading'>Trends</p>
        <a class='panel-block'>(recurso estético)</a>
        <a class='panel-block'>(recurso estético)</a>
        <a class='panel-block'>(recurso estético)</a>
        <a class='panel-block'>(recurso estético)</a>
        <a class='panel-block'>(recurso estético)</a>
        <a class='panel-block'>(recurso estético)</a>
        <a class='panel-block'>(recurso estético)</a>
    </nav>
</div>